name: Deploy mini with docker

on:
  push:
    # 分支
    branches: [ main ] # main
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Go 1.18
        uses: actions/setup-go@v2
        with:
          go-version: 1.23
      # 缓存，不加的话每次都会去重新拉取，会影响速度
      - name: Cache Go modules
        uses: actions/cache@v4
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Cache Docker layers
        uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
      # 登录Docker Hub
      - name: Build the Docker image
        run: |
          docker version
          # 登录阿里云镜像仓库
          docker login --username=${{ secrets.DOCKER_HUB_USERNAME }} --password=${{ secrets.DOCKER_PASSWORD }} registry.cn-hangzhou.aliyuncs.com
          ## build mini
          cp ./script/Dockerfile.mini .
          # 使用Dockerfile构建镜像
          docker build . --file Dockerfile.mini --tag ${{ vars.hubAddr }}/${{ vars.USER_NAME }}/${{ vars.IMAGE_NAME }}:${{ vars.tag }}
          # 推送镜像到镜像仓库
          docker push ${{ vars.hubAddr }}/${{ vars.USER_NAME }}/${{ vars.IMAGE_NAME }}:${{ vars.tag }}
      # push后，用ssh连接服务器执行脚本
      - name: 登录服务器, 执行脚本
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_REMOTE_HOST }}
          port: ${{ secrets.SSH_PORT }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASSWORD }}
          # 执行脚本 部署脚本 后面的vars是传递给脚本的参数
          script: |
            sh /home/lfy/workspace/script/deploy.sh ${{ vars.USER_NAME }} ${{ vars.IMAGE_NAME }} ${{ vars.PORT }} ${{ vars.CONTAINS_PORT }} ${{ vars.hubAddr }} ${{ vars.tag }}
            sleep60  # 等待60秒
            sh /home/lfy/workspace/script/real-deploy.sh fengyuan-liang mxclub-mini 8011 8000 registry.cn-hangzhou.aliyuncs.com v0.0.1
            sleep 60  # 等待60秒
            sh /home/lfy/workspace/script/mx-delta-deploy.sh fengyuan-liang mxclub-mini 8012 8000 registry.cn-hangzhou.aliyuncs.com v0.0.1
#            sh /home/lfy/workspace/script/cloud-delta-deploy.sh fengyuan-liang mxclub-mini 8013 8000 registry.cn-hangzhou.aliyuncs.com v0.0.1
#               sh /home/lfy/workspace/script/baozao-deploy.sh fengyuan-liang mxclub-mini 8010 8000 registry.cn-hangzhou.aliyuncs.com v0.0.1